body {
    display: flex;
    flex-direction: column;
    background-color: #111827;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bio img {
    width: 125px;
    height: 125px;
    border: 4px solid #9ca3af84;
    border-radius: 50%;
    margin-top: 50px;
}

.bio h1 {
    margin-bottom: -5px;
} 

.bio .role {
    font-size: 16px;
}

.bio .about {
    color: lightgray;
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    margin: 0px 40px 40px;
}


.tech {
    background-color: #9ca3af14;
    width: 100%;
    padding: 20px 0px;
}

.techs {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;   
    max-width: 600px;

}

.skill {
    border-radius: 5px;
    padding: 15px 15px;
    background-color: #9ca3af84;
    width: 100px;
    text-align: center;    
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d3d3d33a;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    flex-basis: 200px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #35415784;
    padding: 0px  15px 15px;
    flex: 1;
    text-align: center;
}

.project img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.project p {
    flex: 1;
}


h3 {
    margin-bottom: -5px;
}

.projects h2 {
    margin-bottom: -5px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
}

.links {
    display: flex;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    gap: 10px;
    margin-bottom: 10px;
}

.mail, .resume, .icons {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    
}

.resume {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 20px;
}

 .resume i, .mail i {
    font-size: 10px;
    color: white;
    padding-right: 5px;
}

.icons i {
    font-size: 24px;
    color: rgba(175, 175, 175, 0.895);
}


.mail {
    background-color: #0073ff;
    padding: 5px 20px;
}


.links2 {
    display: flex;
    gap: 5px;
}

.footer p {
    margin-top: -10px;
    color: lightgrey;
}


* {
    font-weight: lighter;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.project a, .project{
    color: #0073ff;
}

h2 {
    margin-top: 25px;
}

button {
    cursor: pointer;
}


